name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Xcode ${{ matrix.xcode }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: ['macos-12']
        xcode: ['13.1', '13.3', '13.4.1']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        xcode-version: ${{ matrix.xcode }}

    - name: Set default Xcode ${{ matrix.xcode }}
      run: |
        ls /Applications/X*
        XCODE_ROOT=/Applications/Xcode_${{ matrix.xcode }}.app
        sudo xcode-select -s $XCODE_ROOT

    - name: Build
      run: xcrun xcodebuild -scheme Aquarius -configuration Debug clean build
